<section class="archives album">
    <h1 class="year"><%= album.year %>年<em><%= album.month %>月</em></h1>
    <ul class="img-box-ul">
    <% album.images.forEach(function(image){ %>
        <figure class="thumb" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
            <a href="<%= image.origin %>" itemprop="contentUrl" data-size="1080x1080" data-type="image" data-target="<%= image.origin %>">
                <img class="reward-img" data-type="image" data-src="<%= image.thumb %>" src="<%= image.thumb %>" itemprop="thumbnail" data-lzled="true"> 
            </a>
            <figcaption style="display:none" itemprop="caption description">
                <%= image.comment %>
            </figcaption>
        </figure>
    <% }); %>
    </ul>
</section>